@using BTLWeb.Models;
@model BTLWeb.Models.tblTaiKhoan

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5"
                     width="150px"
                     src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">Edogaru</span><span class="text-black-50">edogaru@mail.com.my</span><span> </span>
            </div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6">
                        <p>Họ và tên : @Model.HoTen</p>
                    </div>

                </div>
                <div class="row mt-3">

                    <div class="col-md-12">
                        <p>Năm sinh:  @Model.NamSinh</p>
                    </div>

                    <div class="col-md-12">
                        <p>Số điện thoại: @Model.SoDienThoai</p>
                    </div>

                    <div class="col-md-12">
                        <p>Email: @Model.Email</p>
                    </div>
                    <div class="col-md-12">
                        <p>Địa chỉ: @Model.Email</p>
                    </div>
                    <div class="col-md-12">
                        <p>Tài khoản: @Model.TenDangNhap</p>
                    </div>
                    <div class="col-md-12">
                        <p>Ngày đăng ký: @Model.NgayDangKi</p>
                    </div>
                </div>


            </div>
        </div>

    </div>
</div>

